  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <h>Apply for leave</h>
      </for>
    </div>

    <div class="container">
     <%= link_to ({:controller => 'ideas' , :action => 'history'}) do %>
  <%= image_tag image_path('Coconut_tree.png'), :class => 'dashboardicon' %>
<% end %>
      
      
      </div>



    </div> <!-- /container -->