.main-layout{
	padding-top: 50px;
	
}


.panel-default{
	margin: 0 auto;
	width: 400px;

}

.panel-body{
	
}


.dashboardicon{
	width:100px;
	height: 100px;
	position: relative;
}

.resume-wrap{
	max-width:700px;
	margin:auto;
}

body {background-color:lightgrey}
h1   {color:blue}
h3   {color:green}
p    {color:green}